@import url("layout.css");
body {
	font-family: "Georgia", "Times New Roman", Times, serif;
	font-size: 0.8em;
	background-attachment: scroll;
	background-color: #e6d98f;
	background-image: url("../images/background.gif");
	background-position: top left;
	background-repeat: repeat-x;
}
#container {
	width: 100%;
	margin-top: 57px;
	border-bottom: 2px solid #a0522d;
	background-color: #fff;
}
#masthead {
	width: 700px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 5px;
	padding-bottom: 5px;
}
#navigation {
	width: 700px;
	margin-right: auto;
	margin-left: auto;
	clear: both;
	overflow: hidden;
	margin-bottom: 10px;
}
#page_content {
	position: relative;
	width: 700px;
	margin-right: auto;
	margin-left: auto;
}
#content {
	position: relative;
	float: left;
	width: 290px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
}
#sidebar {
	float: right;
	width: 380px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
}
#footer {
	clear: both;
	width: 700px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	margin-top: 10px;
	margin-bottom: 10px;
}
/* Masthead Styles */
#masthead h1 {
	font-weight: normal;
	color: #daa520;
	text-transform: uppercase;
	float: left;
	margin-top: 5px;
	display: inline;
}
#masthead h3 {
	font-weight: normal;
	color: #965;
	float: left;
	margin-top: 10px;
	margin-left: 30px;
	display: inline;
}
/* Navigation Styles */
#navigation ul {
	list-style-type: none;
	width: auto;
	margin: 0;
	padding: 0;
}
#navigation li {
	float: left;
}
#navigation a {
	text-decoration: none;
	color: #a0522d;
	display: block;
	margin: 0 1px;
	padding: 5px;
	border: 1px solid #708090;
	background-color: #edb;
}
#navigation a:hover {
	text-decoration: none;
	color: #edb;
	background-color: #a0522d;
}
/* Content Styles */
#content h1,h2,h3,h4,h5,h6 {
	color: #a0522d;
}
#content img {
	padding: 5px;
	border: 1px solid #a0522d;
}
/* Sidebar Styles */
#sidebar p {
	color: #222;
}
#sidebar img {
	float: right;
	margin-bottom: 5px;
	margin-left: 5px;
}
/* Footer Styles */
#footer p {
	font-size: 0.85em;
	color: #808080;
}
#footer a {
	color: #a0522d;
	text-decoration: underline;
}
#footer a:hover {
	color: #800000;
	text-decoration: none;
}
/* Link Styles */
a {
	color: #a0522d;
	text-decoration: underline;
}
a:hover {
	color: #800000;
	text-decoration: underline;
}
.style_bold {
	font-weight: bold;
}
.style_italic {
	font-style: italic;
}